@charset "UTF-8";

/*下記CSSに記述されている「△」を、すべて適切なものに変更してください*/

/*全体へ適用*/
body
    {
        margin: 0;					/*ブラウザの上下左右の余白を消す*/
        font-family: '△';	        /*サイト内のフォント種類を指定*/
    }

/*各見出しの設定*/
h1
    {
        △-bottom: 10px;	/*下に余白を設ける*/
    }

h2
    {
        △-top: 15px;	/*上に余白を設ける*/
        margin-△: 0;	/*border外側の下に余白を設ける*/
    }

h3 
    {
        △-bottom: 0;	/*border外側の下に余白を設ける*/
    }

/*段落の設定*/
p
    {
        △-top: 0;	/*見出しと文章の余白を埋める*/
        △-bottom: 30px;	/*次コンテンツとの余白を設ける*/
    }

/*ここからは各コンテンツのdivに設定するClassを管理しています*/

/*画像の上下左右に余白を設ける*/    
.img-margin
    {
        △: 20px;
    }

/*ゲームタイトル表示部分*/
.top
    {
		color: #ffffff;	/*文字色変更*/
        △-align: center;	/*コンテンツを中央に寄せる*/
        △-top: 70px;	/*ページ上のコンテンツ表示位置を、ヘッダー下になるように*/
		△-color: #a549bc;	/*背景色を指定*/
        width: 100%;	/*横幅を画面全体へ広げる*/
    }

/*「概要～挑戦したこと」までは、同じなのでうまく一つにまとめてもOK（そうする方が正しいはず…）*/

/*概要*/
.overview
    {
        △-align: center;		/*コンテンツを中央に寄せる*/
    }

/*詳細*/
.detail
    {
        △-align: center;		/*コンテンツを中央に寄せる*/
    }

/*制作背景*/
.reason
    {
        △-align: center;		/*コンテンツを中央に寄せる*/
    }

/*挑戦したこと*/
.try
    {
        △-align: center;		/*コンテンツを中央に寄せる*/
    }

/*工夫したこと*/
.ingenuity
    {
        △-align: center;		/*コンテンツを中央に寄せる*/
		△-bottom: 100px;	/*コンテンツの下に余白を設ける*/
    }